@media (max-width: 1100px) {
  .container {
    margin: 30px 15px;
  }

  .quizzes-todos .quizz:last-child {
    margin-bottom: 70px;
  }

  .quizzes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .pagina-quizz .imagem-superior > img {
    height: 142px;
  }
  .pagina-quizz .imagem-superior > h1 {
    font-size: 19px;
  }
  .quizz-box {
    width: 375px;
    height: auto;
    padding: 18px;
  }

  .quizz-box > h2 {
    height: 89px;
    font-size: 19px;
  }

  .quizz-box > div > figure > img {
    width: 163px;
    height: 113px;
    margin: 10px 0 10px 0;
  }
  .quizz-box > div > figure > figcaption {
    font-size: 13px;
    width: 163px;
  }

  .imagemResultado {
    flex-direction: column;
    margin-top: 10px;
  }

  .imagemResultado > img {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .imagemResultado > h2 {
    width: 100%;
    height: auto;
    font-size: 17px;
  }

  .reiniciar {
    width: 220px;
    height: 44px;
    font-size: 18px;
  }

  .voltar {
    width: 220px;
    height: 44px;
    font-size: 18px;
  }
}
