* {
  box-sizing: border-box;
}




header div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
}

header h1 {
  color: white;
  font-size: 37px;
  font-weight: bold;
  font-family: "Roboto", "sans-serif";
}

button{
    cursor:pointer;
}

/*Tela 1*/
.container{
    max-width: 1050px;
    height:auto;
    margin: 55px auto;
    font-family: "Roboto", "sans-serif";
    margin-top: 120px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .quizzes-usuario{
    width:100%;
    border:1px dashed #D5D5D5;
    height:180px;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    background-color:#FAFAFA;
    margin-bottom:40px;
 }

 .quizzes-usuario p {
    color: #b9b9b9;
    font-size: 20px;
  }

  .tela1 button{
    color: #EC362D;
    border-radius:50px;
    width:150px;
    height:50px;
    border: 1px dashed #EC362D;
    background-color:#FAFAFA;
    cursor:pointer;
    font-size:21px;
    font-weight:normal;
   }

   .tela1 button:hover {
    background-color: rgba(240, 234, 234, 0.795);
    transition: 0.6s;
  }
  
.container h4{
    font-weight:bold;
    font-size:20px;
}

.quizzes{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;  
}

.quizz {
    width: 340px;
    height: 180px;
    margin: 6px 5px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(180deg,rgba(175, 33, 33, 0) 0%, rgba(0, 0, 0, 0.7) 65.1%,#000000 100%);
    border-radius: 5px;
  }

  .quizz img {
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 60%);
    border-radius:5px;
  }

.titulo-quizz {
    color: white;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    min-height: 54px;
    position:absolute;
  }
/*Fim da tela 1*/

/* Página 2 CSS */
.pagina-quizz {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagina-quizz .imagem-superior > img {
  width: 100%;
  height: 227px;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../src/images/Rectangle\ 34.png");
}

.pagina-quizz .imagem-superior {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 69px;
}

.pagina-quizz .imagem-superior > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 39px;
}

.quizz-box {
  width: 756px;
  height: 676px;
  padding: 35px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 40px;
  margin-bottom: 40px;
}

.quizz-box > h2 {
  width: 100%;
  height: 138px;
  background-color: #434ca0;
  color: #ffffff;
  font-weight: bold;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quizz-box > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quizz-box > div > figure > img {
  width: 320px;
  height: 175px;
  object-fit: cover;
  margin: 20px 0 10px 0;
}
.quizz-box > div > figure > figcaption {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
/* Fim página 2 CSS */

/*Tela 3 */
.container.tela3-1{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.infos-quizz{
    min-height:256px;
    width:600px;
    margin-top:10px;
    padding: 15px 0px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.container input{
    width:546px;
    height:46px;
    border-radius:5px;
    border: 1px solid #D1D1D1;
    font-style:italic;
    margin: 5px 0px;
    padding-left:10px;
}

.info-quizz .placeholder{
    color:#BABABA;
    padding-left: 10px;
}


.tela3-1 button, .tela3-2 button{
    background-color:#EC362D;
    width: 368px;
    height: 54px;
    border-radius: 15px;
    border:none;
    font-size:21px;
    color:#FFF5F4;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20px;
}

/*Fim da Tela 3-1 */

.Pergunta1, .pergunta-element{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding-top:5px;
  margin-top:10px;
}



.perguntas{
  width:580px;
}

.Pergunta, .Resposta-Correta, .Resposta-Incorreta {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:18px 0px;
}

.tela3-2 ion-icon{
  font-size:20px;
  cursor:pointer;
  margin-top:10px;
  margin-right:10px;
}

.pergunta-element.fechada{
  display:flex;
  justify-content:space-between;
  margin:25px 0px;
  transition: all linear 0.5s;
}

.crescer{
  height:100%;
  display:flex;
  flex-direction:column;
}



.pergunta-element h4{
  margin: 15px 0px 15px 15px;
}

.Pergunta1.aberta h4{
  margin: 15px 0px 5px 15px;
}


.container.esconder{
    display:none;
}

.esconder{
  display:none;
}